.article-short-code{
    margin: 40px 0px 10px 0px;
    background-color: inherit;
}
.asc-items{
    margin: 0;
    padding: 0;
    width: auto;
    display: block;
    float: left;
    font-size: 16px;
}

.asc-items li {
    display: inline;
}

.asc-items a {
    text-decoration: none;
    color:  rgba(255,255,255,.5);
}

.article-bg{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 490px;
    position: relative;
    margin-top: 80px;
}
.article-bg::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            180deg
            , rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    position: absolute;
}

.article-body{
    margin-top: -350px;
    margin-bottom: 0px;
    position: relative;
}
.ab__right-side{
    width: 65.96%;
    display: flex;
    min-height: 1px;
}
.ab__rs-wrap{
    background-color: #FFFFFF;
    box-shadow: 8px 16px 30px 0px rgb(0 0 0 / 4%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 64px 40px 64px 40px;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.ab__rs-wrap p{
    font-size: 16px;
    line-height: 28px;
    word-break: break-word;
    color: #6b6b6b;
    font-weight: 400;
}

.ab__rs-wrap p + p {
    margin-top: 1em;
}

.ab__rs-wrap h2{
    margin-top: .6em;
    margin-bottom: .6em;
    font-size: 32px;
    line-height: 48px;
    color: #112152;
    font-weight: bold;
}

.ab__rs-wrap h3{
    margin-top: .6em;
    margin-bottom: .6em;
    color: #112152;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
}

.ab__rs-wrap table{
    margin-top: 50px;
    color: #112152;
    font-weight: 400;
}

.ab__rs-wrap h5{
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #6b6b6b;
    margin: 0;
}

.ab__rs-wrap ol {
    padding-left: 2em;
    margin: 16px 0;
    color: #6b6b6b;
}

.ab__rs-list{
    padding-left: 2em;
    margin: 16px 0;
    color: #6b6b6b;
}

.ab__rs-wrap h5 a{
    color: #112152;
    text-decoration: underline;
}

.ab__left-side{
    width: 34%;
    display: flex;
    min-height: 1px;
}
.ab__ls-wrap{
    height: 326px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 32px;
    position: sticky;
    top: 128px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.ab__banner{
    background-color: #112152;
    justify-content: center;
    box-shadow: 8px 16px 30px 0px rgb(0 0 0 / 4%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 32px 24px 32px 24px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.ab__banner-title{
    max-width: 195px;
    margin-bottom: 0px;
}
.ab-wrap{
    margin: 0px 0px 24px 0px;
}
.ab__banner-title-text{
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
}
.ab__banner-subtitle{
    max-width: 335px;
    margin-bottom: 0px;
    width: 100%;
}
.ab__banner-subtitle-text{
    color: rgba(255, 255, 255, 0.8);
    word-break: break-word;
}

.latest-articles{
    margin-top: 24px;
}

.la-wrap{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3,1fr);
}

.la-wrap .la-post{
    margin: 0;
}

.la-post{
    background: #fff;
    box-shadow: 8px 16px 30px rgb(0 0 0 / 4%);
    margin-bottom: 40px;
    cursor: pointer;
}

.la-post-image{
    width: 100%;
    height: 233px;
    background-size: cover;
    background-position: center;
}

.la-post-info{
    padding: 20px 0 20px 16px;
    position: relative;
}

.la-wrap .la-post-info{
    padding: 16px 24px;
}

.la-post-info-title{
    color: #112152;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: .0024em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-width: 85%;
    min-height: 55px;
}

.la-post-info:after{
    position: absolute;
    top: 50%;
    right: 20px;
    content: "";
    width: 24px;
    height: 24px;
    background: url(https://cdn-amadc.nitrocdn.com/uSrlKJDDawwYmhhBEJuIlskEJGsKAzSK/assets/static/source/rev-f93d154/wp-content/plugins/pb-blog/images/chevron-right.svg) no-repeat;
    transform: translate(0,-12px);
}

@media (max-width: 1216px) {
    .ab__banner-title-text{
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    .ab__banner{
        padding: 24px 16px 24px 16px;
    }
    .ab-wrap{
        margin: 0px 0px 16px 0px;
    }
    .article-bg{
        padding: 0px 56px 0px 56px;
        min-height: 265px;
    }
    .article-body{
        margin-top: -130px;
    }
    .ab__rs-wrap h3{
        font-size: 20px;
        line-height: 30px;
    }
    .ab__rs-wrap p{
        font-weight: normal;
        font-size: 14px;
    }
    .ab__rs-wrap h2{
        font-size: 24px;
        line-height: 36px;
    }
    .la-wrap{
        max-width: 656px;
        margin: 0 auto;
        grid-gap: 32px;
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width: 767px) {
    .la-wrap{
        max-width: 272px;
        grid-template-columns: 1fr;
    }
}