*,*:before,*:after{

    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: "Poppins", sans-serif;
    cursor: default;
}
.wrapper{

}

.container{
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 10px;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #49b622;
}
.header__body {
    position: relative;
    z-index: 2;
    display: flex;
    height: 80px;
    align-items: center;
    align-content: center;
}
.header__logo {
    width: 160px;
    flex: 0 0 120px;
    display: flex;
    align-items: center;
    align-content: center;
    height: 25px;
}
.header__logo img{
    width: 160px;
    align-items: center;
    align-content: center;
    height: 30px;
}
.header__burger {
    display: none;
}

.bm-item-list img{
    width: 150px;
    height: 30px;
}


.header__menu {
    padding: 0 32px;
    font-size: 16px;
    margin-left: auto;
}

.header__menu ul{
    margin-left: auto !important;
    align-content: center !important;
    align-items: center !important;
}

.header__list {
    display: flex !important;
    list-style: none !important;
    margin: 0;
}


.header__list li{
    margin: 0 80px 0 0;
}
.header__link {
    color: #e2f5db;
    font-size: 16px;
    text-decoration: none !important;

    line-height: 24px;
}

.header__link.active{
    color: #ffffff;
}

.header__link:hover {
    color: #ffffff;
}

.header__link-contains-child{
    color: #e2f5db;
    font-size: 16px;
    text-decoration: none !important;

    line-height: 24px;
}


.header__widget{
    display: flex;
    align-content: center;
    align-items: center;
}

.header__widget-icon-call {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(/src/content/icons/phone.png) no-repeat;
    cursor: pointer;
    background-size: 90%;
    margin-right: 32px;
}

@media (min-width: 1216px){
    .header__widget-icon-call{
        width: 24px;
        height: 24px;
        background-size: cover;
    }
}

.header__widget-btn-back{

    text-decoration: none !important;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 11px 21px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 8px;
    color: #fff !important;
}
.header__sub-menu{
    display: block;
    position: absolute;
    background: white;
    color: #49b622;
    min-width: 18em;
    max-width: 1000px;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: .3s, .3s;
    transition-delay: .4s;
    box-shadow: 0 8px 30px rgb(0 0 0 / 8%);
}
.header__sub-menu li{
    color: white;
    width: 100%;
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.header__list-item-contains-child:hover .header__sub-menu{
    opacity: 1;
    visibility: visible;
}

.arrow{
    width: 20px;
    height: 20px;
    background-size: cover;

}

.header__arrow{
    background: url(/src/content/icons/arrow-white.png) center no-repeat;
    background-size: 70%;
    top: 38%;
    margin-left: 10px;
    opacity: .7;
    position: absolute;
    transition-delay: .4s;
    transition: .3s;
}



.header__list-item-contains-child:hover .arrow{
    transform: rotate(180deg);
    opacity: 1;
}

.header__sub-menu-link{
    color: #49b622;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    opacity: 0.6;
}

.header__sub-menu-link.active {
    opacity: 1;
}

.header__sub-menu-link:hover {
    opacity: 1;
    color: #49b622;
    text-decoration: none;
}

ul.header__sub-menu li::marker{
    font-size: 100%;
    content: '|';
}

ul.header__sub-menu li:hover{
    color: yellow;
    font-weight: 600;
}

.header__dd-language{
    background-color: #49b622;
    border: none;
}

.header__dd-language:hover{
    background-color: #49b622;
}

.header__dd-language:focus{
    background-color: #49b622 !important;
    border: none !important;
    box-shadow: none !important;
}

.header__dd-language:not(:disabled):not(.disabled).active, .header__dd-language:not(:disabled):not(.disabled):active, .show>.header__dd-language.dropdown-toggle {
    color: #fff;
    background-color: #49b622;
    border: none;
    box-shadow: none !important;
}

.header__logo div{
 width: 100%;
    height: 100%;
}

@media (max-width: 1216px){
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-left: 32px;
    }
    .header__white-space{
        width: 100%;
    }
    #react-burger-menu-btn{
        width: 30px;
    }
    .header__menu {
        display: none;
    }
    .header__widget-btn-back{
        display: none;
    }
    .header__body{
        padding: 0 32px;
    }

}

